.wrapper {
    justify-content: center;
    align-items: center;
    
  }
  
  .media {
    width: 400px;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .layer {
    opacity: 0;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 50%;
    background: #FFF;
    color: #151E3F;
    transition: all 0.9s ease;
    
  }
  .media:hover .layer {
    opacity: 0.8;
    width: 5
    0%;
    transition: all 0.5s ease;
    
  }
  @media (max-width: 800px){
    body {
      transform: scale(0.6);
    }
  }
  
  img 
  {
      height: 300px;
      width: 300px;
  }
  body {
      display: -webkit-box;
      display: -ms-flexbox;
      display: block;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background-color: #2C3138;
      -webkit-perspective: 90rem;
              perspective: 90rem;
      -webkit-perspective-origin: 34% 61%;
              perspective-origin: 34% 61%;
     background: url("https://i.pinimg.com/originals/d1/f2/f5/d1f2f585c1fcbbf8d075b3de6f1ffe87.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
              
  }
  
  
  .box-1:hover button::before {
      width: 120%;
      opacity: .8;
      background-color: #00BF9C;
  }
  
  .box-2:hover button::before {
      width: 120%;
      opacity: .8;
      background-color: #653EE6;
  }
  
  .box-3:hover button::before {
      width: 120%;
      opacity: .8;
      background-color: #008BFF;
  }
  
  .box-4:hover button::before {
      width: 120%;
      opacity: .8;
      background-color: #FF6500;
  }
  
  .container {
      display: -webkit-box;
      display: -ms-flexbox;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      width: 50vw;
      height: 100vh;
      margin-top: 12vw;
      margin-left: 25vw;
      /* transform:rotateX(7deg) rotateZ(-4deg) rotateY(13deg) scale3d(1, 1, -0.9); */
      -webkit-transform: rotateX(20deg) rotateZ(7deg) rotateY(7deg) scale3d(1, 1, -0.9);
              transform: rotateX(20deg) rotateZ(7deg) rotateY(7deg) scale3d(1, 1, -0.9);
  }
  
  .box {
      display: -webkit-box;
      display: -ms-flexbox;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-transition: all .3s ease-out;
      transition: all .3s ease-out;
      will-change: transform;
  }
  
  .box:hover .cover {
      -webkit-transform: translateY(-14px) scale(1.04);
              transform: translateY(-14px) scale(1.04);
  }
  
  .box-1 button {
      border: 1px solid #00BF9C;
      color: #fff;
      font-size: 22px;
      text-align: right;
      padding-right: 20px;
      line-height: 40px;
  }
  
  .box-1 button::after {
      content: "";
      background-color: #00BF9C;
      top: -85px
  }
  
  .box-2 button {
      border: 1px solid #653EE6;
      color: #fff;
      font-size: 22px;
      text-align: right;
      padding-right: 20px;
      line-height: 40px;
  }
  
  .box-2 button::after {
      content: "";
      background-color: #653EE6;
      top: -85px
  }
  
  .box-3 button {
      border: 1px solid #008BFF;
      color: #fff;
      font-size: 22px;
      text-align: right;
      padding-right: 20px;
      line-height: 40px;
  }
  
  .box-3 button::after {
      content: "";
      background-color: #008BFF;
      top: -85px
  }
  
  .box-4 button {
      border: 1px solid #FF6500;
      color: #fff;
      font-size: 22px;
      text-align: right;
      padding-right: 20px;
      line-height: 40px;
  }
  
  .box-4 button::after {
      content: "";
      background-color: #FF6500;
      top: -85px
  }
  
  .cover {
      -webkit-transition: all 400ms ease-in-out;
      transition: all 400ms ease-in-out;
      will-change: transform;
  }
  
  .cover img {
      -webkit-transition: all 260ms ease-in-out;
      transition: all 260ms ease-in-out;
  }
  
  .box .cover::after {
      content: "";
      z-index: -99;
      position: absolute;
      top: 20px;
      left: -20px;
      display: block;
      width: 160px;
      height: 214px;
      opacity: 0;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 160px 214px;
      -webkit-filter: blur(24px);
              filter: blur(24px);
      -webkit-transition: all 260ms ease-in-out;
      transition: all 260ms ease-in-out;
      will-change: transform;
      -webkit-transform: scale(.6);
              transform: scale(.6);
  }
  
  .box:hover .cover::after {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1);
  }
  
  .box-1 .cover::after {
      background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/945546/3433202-893bc9989a52eba0.png');
  }
  
  .box-2 .cover::after {
      background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/945546/3433202-964edcf0f07211b0.png');
  }
  
  .box-3 .cover::after {
      background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/945546/3433202-f79c4cc8de2f84ae.png');
  }
  
  .box-4 .cover::after {
      background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/945546/3433202-f79c4cc8de2f84ae.png');
  }
  
  .box-1 button div::before {
      content: 'Sensebot';
      position: relative;
      color: #00BF9C;
      font-size: 21px;
      font-weight: 300;
  }
  
  .box-1:hover button div::before {
      color: #fff;
  }
  
  .box-2 button div::before {
      content: 'OnePass';
      position: relative;
      color: rgb(154, 123, 255);
      font-size: 21px;
      font-weight: 300;
  }
  
  .box-2:hover button div::before {
      color: #fff;
  }
  
  .box-3 button div::before {
      content: 'DeepKnow';
      position: relative;
      color: #008BFF;
      font-size: 21px;
      font-weight: 300;
  }
  
  .box-3:hover button div::before {
      color: #fff;
  }
  
  .box-4 button div::before {
      content: 'Scanner';
      position: relative;
      color: #FF6500;
      font-size: 21px;
      font-weight: 300;
  }
  
  .box-4:hover button div::before {
      color: #fff;
  }
  
  .dr {
  position: absolute;
    width:100px;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-size: cover;
    height: 100vh;
    width: 1000vh;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
}

.card{
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    height: 350px;
    width: 5000px;
    margin-right: 3rem;
}

.card:hover .gradient{
    opacity: 1;
}

.gradient{
    position: absolute;
    background-image: linear-gradient(0deg, #e90606, transparent);
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s;
}

.info{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 2rem;
    margin-top: 3rem;
}


.time{
    position: absolute;
    bottom: 0;
    font-size: 30px;
    padding: 2rem;
}

.title{
    font-size: 2.2em;
    font-weight: 700;
}
